---
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Про мене">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <article
      class="w-full max-w-2xl mx-auto mb-3 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert"
    >
    <PageHeading
      title="Про мене"
      description=""
    />

    <!-- <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" /> 
    
    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2> -->

    
    <p>
      Привіт 👋 Мене звати Марина Зайцева.</p>

    <p>Слухаю та записую подкасти ще з тих часів, коли вони вперше почали захоплювати світ. Це десь 2008 рік.</p>

     <p>У 2009 році отримала нагороду за кращий жіночий сольний подкаст, потім три роки була соведучою подкасту «<a href="https://radio-t.com" target="_blank">Радіо-Т</a>».</p>

     <p>Після цього взяла паузу на 12 років, і ось, нарешті, знову записую 🥳

    <p>
    «Дорогою по каву» — це мої коротенькі ранкові роздуми. Записую на вулиці, власне, дорогою по каву.</p>
      
      <p> • Мікрофон — <a href="https://rode.com/en/microphones/mobile/smartlav-plus" target="_blank">RØDE smartLav+</a>.</br>
      • Музичний трек на фоні: <i>I'm Going for a Coffee</i> by Lee Rosevere (<a href="https://freemusicarchive.org" target="_blank">Free Music Archive</a>, CC BY).</br>
      • Ілюстрація до подкасту: <a href="https://t.me/alexkolodko1" target="_blank">Саша Колодько</a>.</br>
      • Монтую в GarageBand.</p>
     
      <p> Радію вашим коментарям та питанням — <a href="https://t.me/omw_for_coffee" target="_blank">канал подкасту</a>, <a href="https://mastodon.social/@marin_k_a" target="_blank">мій Мастодон</a>.</p>

    </p>
  </article>
  </section>
</Layout>
