---
import { getCollection } from "astro:content";
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import EpisodesLoop from "../components/episodes-loop.astro"; // Import EpisodesLoop
import Layout from "../layouts/main.astro";

// Generate slug helper function with type annotations
function generateSlug(link: string | null, title: string | null, id: string): string {
  if (link) {
    const urlParts = link.split('/');
    return urlParts[urlParts.length - 1]; // Extract the last part of the URL as the slug
  }

  // Fallback to title or id if the link is not available
  return (title ?? id).replace(/\W+/g, "-").toLowerCase();
}

const episodes = await getCollection("podcasts");
---

<Layout title="Всі випуски">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Всі випуски"
      description=""
    />
    
    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8 ">
    <!-- Use EpisodesLoop to render episodes -->
      <EpisodesLoop count={9999} /> <!-- Passing large number to show all episodes -->
    </div>
    
  </section>
</Layout>
